
.cont {
	*display: inline;
	zoom: 1;
}
.cont-3 {
	*display: inline;
	zoom: 1;
}
.colwrapper {
	*display: inline;
	zoom: 1;
}
.cont-4 {
	*display: inline;
	zoom: 1;
}
.colwrapper-2 {
	*display: inline;
	zoom: 1;
}
.cont-5 {
	*display: inline;
	zoom: 1;
}
.cont-6 {
	*display: inline;
	zoom: 1;
}
.cont-7 {
	*display: inline;
	zoom: 1;
}
